In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 44.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=a3d18c9c3e5ec3ab1d6e04bb99fc8d6b63de3093352c01640c626c78b0b05218
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

# New Section

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('local').getOrCreate()

In [6]:
df_spark=spark.read.csv('/content/drive/MyDrive/Pyspark/Home.csv')

In [7]:
df_spark

DataFrame[_c0: string]

In [8]:
#show full dataset
df_spark.show()

+--------------------+
|                 _c0|
+--------------------+
|PK  \b   ! |l...|
|6>@%&f�+��!\t`�...|
|a��.�ߝ���"���t...|
|�<M�2�Հb�)���p�6 ...|
|\f������O\t/�c)�...|
|���ƈ��z�>&�3�Lg�...|
|�>hJ���U� 2�����...|
|�c�xL�ޜH�����]ś*$...|
|           &�^������|
|�L1�bma]���u��t�...|
|�>֗��f}{����7��...|
|�9fe�q�wW@�(^�...|
|pC�*Xx8��r�bV�`|...|
|~��L��\�E\O*�t@...|
|h܇A��:I~KBxԙ\f\...|
|�Z��p;�����+�e�{...|
|�S��d��L17\tjp�a...|
|      3�� �5'+�Z�zQ|
|�T��I����Ivt]K&...|
|  Aw�� ����9Kä5�$�|
+--------------------+
only showing top 20 rows

In [9]:
df2=spark.read.csv('/content/drive/MyDrive/Pyspark/water_potability.csv')

In [10]:
df2

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string]

In [11]:
df2.show()

+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------+
|               _c0|               _c1|               _c2|               _c3|               _c4|               _c5|               _c6|               _c7|               _c8|       _c9|
+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------+
|                ph|          Hardness|            Solids|       Chloramines|           Sulfate|      Conductivity|    Organic_carbon|   Trihalomethanes|         Turbidity|Potability|
|              null| 204.8904554713363|20791.318980747026| 7.300211873184757|368.51644134980336| 564.3086541722439|  10.3797830780847|  86.9909704615088|2.9631353806316407|         0|
|  3.71608007538699|129.42292051494425|18630.057857970347|    6.635245883862|              null| 592.8853591348523|15.180013116357259| 56.32907628451764| 4.500656274942408|         0|
| 8.099124189298397|224.23625939355776|19909.541732292393| 9.275883602694089|              null| 418.6062130644815|16.868636929550973| 66.42009251176368|3.0559337496641685|         0|
| 8.316765884214679|214.37339408562252|22018.417440775294|  8.05933237743854|356.88613564305666| 363.2665161642437|18.436524495493302|100.34167436508008| 4.628770536837084|         0|
| 9.092223456290965|181.10150923612525| 17978.98633892625| 6.546599974207941|310.13573752420444|398.41081338184466|11.558279443446395|31.997992727424737| 4.075075425430034|         0|
| 5.584086638456089| 188.3133237696164| 28748.68773904612|  7.54486878877965| 326.6783629116736| 280.4679159334877| 8.399734640152758|54.917861841994466|2.5597082275565217|         0|
|10.223862164528773|248.07173527013992|28749.716543528233|7.5134084658313025|393.66339551509645| 283.6516335078445|13.789695317519886| 84.60355617402357| 2.672988736934779|         0|
| 8.635848718500734|203.36152258457054|13672.091763901635| 4.563008685599703| 303.3097711592812|474.60764494244853| 12.36381669870525|62.798308962925155| 4.401424715445482|         0|
|              null|118.98857909025189|14285.583854224515| 7.804173553073094|  268.646940746221| 389.3755658712614| 12.70604896865791|53.928845767512236|3.5950171809576155|         0|
|11.180284470721592|227.23146923797458| 25484.50849098786| 9.077200016914393|404.04163468408996| 563.8854814810949| 17.92780641128502| 71.97660103221915| 4.370561936655497|         0|
| 7.360640105838258|165.52079725952862|32452.614409143884| 7.550700906704114|326.62435345560164|425.38341949538733|15.586810438033126| 78.74001566430479|3.6622917828524573|         0|
| 7.974521648923869|218.69330048866644| 18767.65668181348| 8.110384501123875|              null|364.09823046204866|14.525745697593209| 76.48591117965157| 4.011718108339787|         0|
| 7.119824384264552|156.70499334039215|18730.813653342713|3.6060360905057203| 282.3440504739606|347.71502726194376|15.929535908825699|  79.5007783369744| 3.445756223321899|         0|
|              null| 150.1749233951362|27331.361961927756| 6.838223470687509|299.41578134685847|379.76183482577244|19.370807181232124|  76.5099955279583| 4.413974182974902|         0|
|  7.49623220797336|205.34498215818513| 28388.00488673697| 5.072557773840631|              null| 444.6453523327066|13.228311099224527| 70.30021264692436| 4.777382337225378|         0|
| 6.347271760539316|186.73288066057614| 41065.23476453935| 9.629596276480584| 364.4876872467604|  516.743281893657|11.539781191539419| 75.07161728663777| 4.376348290691898|         0|
| 7.051785800016845|211.04940606054578|30980.600786788862|10.094796011661426|              null| 315.1412672443021| 20.39702184072246| 56.65160378979331| 4.268428857506186|         0|
| 9.181560007151536|273.81380665980095| 24041.32628006128| 6.904989726470096| 398.3505168222779| 477.9746418621779|13.387340780225543|  71.4573622129516| 4.503660796179122|         0|
| 8.975464347533963|279.35716677009236|19460.398131232112| 6.204320858892474|              null|431.44398999034894| 12.88875905430399| 63.82123709666397|2.4360855903052734|         0|
+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------+
only showing top 20 rows

In [12]:
df2=spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark/water_potability.csv').show()

+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------+
|                ph|          Hardness|            Solids|       Chloramines|           Sulfate|      Conductivity|    Organic_carbon|   Trihalomethanes|         Turbidity|Potability|
+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------+
|              null| 204.8904554713363|20791.318980747026| 7.300211873184757|368.51644134980336| 564.3086541722439|  10.3797830780847|  86.9909704615088|2.9631353806316407|         0|
|  3.71608007538699|129.42292051494425|18630.057857970347|    6.635245883862|              null| 592.8853591348523|15.180013116357259| 56.32907628451764| 4.500656274942408|         0|
| 8.099124189298397|224.23625939355776|19909.541732292393| 9.275883602694089|              null| 418.6062130644815|16.868636929550973| 66.42009251176368|3.0559337496641685|         0|
| 8.316765884214679|214.37339408562252|22018.417440775294|  8.05933237743854|356.88613564305666| 363.2665161642437|18.436524495493302|100.34167436508008| 4.628770536837084|         0|
| 9.092223456290965|181.10150923612525| 17978.98633892625| 6.546599974207941|310.13573752420444|398.41081338184466|11.558279443446395|31.997992727424737| 4.075075425430034|         0|
| 5.584086638456089| 188.3133237696164| 28748.68773904612|  7.54486878877965| 326.6783629116736| 280.4679159334877| 8.399734640152758|54.917861841994466|2.5597082275565217|         0|
|10.223862164528773|248.07173527013992|28749.716543528233|7.5134084658313025|393.66339551509645| 283.6516335078445|13.789695317519886| 84.60355617402357| 2.672988736934779|         0|
| 8.635848718500734|203.36152258457054|13672.091763901635| 4.563008685599703| 303.3097711592812|474.60764494244853| 12.36381669870525|62.798308962925155| 4.401424715445482|         0|
|              null|118.98857909025189|14285.583854224515| 7.804173553073094|  268.646940746221| 389.3755658712614| 12.70604896865791|53.928845767512236|3.5950171809576155|         0|
|11.180284470721592|227.23146923797458| 25484.50849098786| 9.077200016914393|404.04163468408996| 563.8854814810949| 17.92780641128502| 71.97660103221915| 4.370561936655497|         0|
| 7.360640105838258|165.52079725952862|32452.614409143884| 7.550700906704114|326.62435345560164|425.38341949538733|15.586810438033126| 78.74001566430479|3.6622917828524573|         0|
| 7.974521648923869|218.69330048866644| 18767.65668181348| 8.110384501123875|              null|364.09823046204866|14.525745697593209| 76.48591117965157| 4.011718108339787|         0|
| 7.119824384264552|156.70499334039215|18730.813653342713|3.6060360905057203| 282.3440504739606|347.71502726194376|15.929535908825699|  79.5007783369744| 3.445756223321899|         0|
|              null| 150.1749233951362|27331.361961927756| 6.838223470687509|299.41578134685847|379.76183482577244|19.370807181232124|  76.5099955279583| 4.413974182974902|         0|
|  7.49623220797336|205.34498215818513| 28388.00488673697| 5.072557773840631|              null| 444.6453523327066|13.228311099224527| 70.30021264692436| 4.777382337225378|         0|
| 6.347271760539316|186.73288066057614| 41065.23476453935| 9.629596276480584| 364.4876872467604|  516.743281893657|11.539781191539419| 75.07161728663777| 4.376348290691898|         0|
| 7.051785800016845|211.04940606054578|30980.600786788862|10.094796011661426|              null| 315.1412672443021| 20.39702184072246| 56.65160378979331| 4.268428857506186|         0|
| 9.181560007151536|273.81380665980095| 24041.32628006128| 6.904989726470096| 398.3505168222779| 477.9746418621779|13.387340780225543|  71.4573622129516| 4.503660796179122|         0|
| 8.975464347533963|279.35716677009236|19460.398131232112| 6.204320858892474|              null|431.44398999034894| 12.88875905430399| 63.82123709666397|2.4360855903052734|         0|
| 7.371050302429531|214.49661045715658|25630.320036999725| 4.432669290372123|335.75443859606526|469.91455147923585|12.509163940498695| 62.79727715266126|2.5602991476149146|         0|
+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------+
only showing top 20 rows

In [13]:
type(df2)

NoneType

In [15]:
df2

In [16]:
# like df.info() function in pandas
df2.printSchema()

AttributeError: ignored

In [17]:
df_spark=spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark/Home.csv').show()

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|PK  \b   ! |l�l  �   \b[Content_Types].xml �(�                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ̔]K�0���Cɭ4�&�Ⱥ]�q������&!'�ۿ�4�@�n\f\az����}�4�p�jL����ق�y�e`K����m��߲\f��Jg�`k@6]^\f�k�Q�ł�1�;!����ȝ\aK3�\v���f��r.g �ލ(��`c[|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  6>@%&f�+��!\t`�...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  a��.�ߝ���"���t...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  �<M�2�Հb�)���p�6 ...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  \f������O\t/�c)�...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ���ƈ��z�>&�3�Lg�...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  �>hJ���U� 2�����...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  �c�xL�ޜH�����]ś*$...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             &�^������|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  �L1�bma]���u��t�...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  �>֗��f}{����7��...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  �9fe�q�wW@�(^�...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  pC�*Xx8��r�bV�`|...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ~��L��\�E\O*�t@...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  h܇A��:I~KBxԙ\f\...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  �Z��p;�����+�e�{...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  �S��d��L17\tjp�a...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        3�� �5'+�Z�zQ|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  �T��I����Ivt]K&...|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Aw�� ����9Kä5�$�|
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ����P�e�D�)�j�...|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [18]:
dfs=spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark/housing.csv')

In [19]:
type(dfs)

pyspark.sql.dataframe.DataFrame

In [20]:
dfs.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|                41|        880|           129|       322|       126|       8.3252|            452600|       NEAR BAY|
|  -122.22|   37.86|                21|       7099|          1106|      2401|      1138|       8.3014|            358500|       NEAR BAY|
|  -122.24|   37.85|                52|       1467|           190|       496|       177|       7.2574|            352100|       NEAR BAY|
|  -122.25|   37.85|                52|       1274|           235|       558|       219|       5.6431|            341300|       NEAR BAY|
|  -122.25|   37.85|                52|       1627|           280|       565|       259|       3.8462|            342200|       NEAR BAY|
|  -122.25|   37.85|                52|        919|           213|       413|       193|       4.0368|            269700|       NEAR BAY|
|  -122.25|   37.84|                52|       2535|           489|      1094|       514|       3.6591|            299200|       NEAR BAY|
|  -122.25|   37.84|                52|       3104|           687|      1157|       647|         3.12|            241400|       NEAR BAY|
|  -122.26|   37.84|                42|       2555|           665|      1206|       595|       2.0804|            226700|       NEAR BAY|
|  -122.25|   37.84|                52|       3549|           707|      1551|       714|       3.6912|            261100|       NEAR BAY|
|  -122.26|   37.85|                52|       2202|           434|       910|       402|       3.2031|            281500|       NEAR BAY|
|  -122.26|   37.85|                52|       3503|           752|      1504|       734|       3.2705|            241800|       NEAR BAY|
|  -122.26|   37.85|                52|       2491|           474|      1098|       468|        3.075|            213500|       NEAR BAY|
|  -122.26|   37.84|                52|        696|           191|       345|       174|       2.6736|            191300|       NEAR BAY|
|  -122.26|   37.85|                52|       2643|           626|      1212|       620|       1.9167|            159200|       NEAR BAY|
|  -122.26|   37.85|                50|       1120|           283|       697|       264|        2.125|            140000|       NEAR BAY|
|  -122.27|   37.85|                52|       1966|           347|       793|       331|        2.775|            152500|       NEAR BAY|
|  -122.27|   37.85|                52|       1228|           293|       648|       303|       2.1202|            155500|       NEAR BAY|
|  -122.26|   37.84|                50|       2239|           455|       990|       419|       1.9911|            158700|       NEAR BAY|
|  -122.27|   37.84|                52|       1503|           298|       690|       275|       2.6033|            162900|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [21]:
##Check the schema
dfs.printSchema

<bound method DataFrame.printSchema of DataFrame[longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string, ocean_proximity: string]>

In [22]:
#use Inferschema to show correct data type
dfs=spark.read.option('header','true').csv('/content/drive/MyDrive/Pyspark/housing.csv',inferSchema=True)

In [23]:
dfs.printSchema

<bound method DataFrame.printSchema of DataFrame[longitude: double, latitude: double, housing_median_age: int, total_rooms: int, total_bedrooms: int, population: int, households: int, median_income: double, median_house_value: int, ocean_proximity: string]>

In [24]:
#Another way of reading file in pyspark
dfp=spark.read.csv('/content/drive/MyDrive/Pyspark/housing.csv',header=True,inferSchema=True)

In [25]:
dfp.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|                41|        880|           129|       322|       126|       8.3252|            452600|       NEAR BAY|
|  -122.22|   37.86|                21|       7099|          1106|      2401|      1138|       8.3014|            358500|       NEAR BAY|
|  -122.24|   37.85|                52|       1467|           190|       496|       177|       7.2574|            352100|       NEAR BAY|
|  -122.25|   37.85|                52|       1274|           235|       558|       219|       5.6431|            341300|       NEAR BAY|
|  -122.25|   37.85|                52|       1627|           280|       565|       259|       3.8462|            342200|       NEAR BAY|
|  -122.25|   37.85|                52|        919|           213|       413|       193|       4.0368|            269700|       NEAR BAY|
|  -122.25|   37.84|                52|       2535|           489|      1094|       514|       3.6591|            299200|       NEAR BAY|
|  -122.25|   37.84|                52|       3104|           687|      1157|       647|         3.12|            241400|       NEAR BAY|
|  -122.26|   37.84|                42|       2555|           665|      1206|       595|       2.0804|            226700|       NEAR BAY|
|  -122.25|   37.84|                52|       3549|           707|      1551|       714|       3.6912|            261100|       NEAR BAY|
|  -122.26|   37.85|                52|       2202|           434|       910|       402|       3.2031|            281500|       NEAR BAY|
|  -122.26|   37.85|                52|       3503|           752|      1504|       734|       3.2705|            241800|       NEAR BAY|
|  -122.26|   37.85|                52|       2491|           474|      1098|       468|        3.075|            213500|       NEAR BAY|
|  -122.26|   37.84|                52|        696|           191|       345|       174|       2.6736|            191300|       NEAR BAY|
|  -122.26|   37.85|                52|       2643|           626|      1212|       620|       1.9167|            159200|       NEAR BAY|
|  -122.26|   37.85|                50|       1120|           283|       697|       264|        2.125|            140000|       NEAR BAY|
|  -122.27|   37.85|                52|       1966|           347|       793|       331|        2.775|            152500|       NEAR BAY|
|  -122.27|   37.85|                52|       1228|           293|       648|       303|       2.1202|            155500|       NEAR BAY|
|  -122.26|   37.84|                50|       2239|           455|       990|       419|       1.9911|            158700|       NEAR BAY|
|  -122.27|   37.84|                52|       1503|           298|       690|       275|       2.6033|            162900|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [26]:
#to get column names
dfs.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [27]:
#to select an particular column
dfs.select('total_rooms')

DataFrame[total_rooms: int]

In [28]:
dfs.select('total_rooms').show()

+-----------+
|total_rooms|
+-----------+
|        880|
|       7099|
|       1467|
|       1274|
|       1627|
|        919|
|       2535|
|       3104|
|       2555|
|       3549|
|       2202|
|       3503|
|       2491|
|        696|
|       2643|
|       1120|
|       1966|
|       1228|
|       2239|
|       1503|
+-----------+
only showing top 20 rows

In [29]:
#to select multiple columns
dfs.select('total_bedrooms','median_income').show()

+--------------+-------------+
|total_bedrooms|median_income|
+--------------+-------------+
|           129|       8.3252|
|          1106|       8.3014|
|           190|       7.2574|
|           235|       5.6431|
|           280|       3.8462|
|           213|       4.0368|
|           489|       3.6591|
|           687|         3.12|
|           665|       2.0804|
|           707|       3.6912|
|           434|       3.2031|
|           752|       3.2705|
|           474|        3.075|
|           191|       2.6736|
|           626|       1.9167|
|           283|        2.125|
|           347|        2.775|
|           293|       2.1202|
|           455|       1.9911|
|           298|       2.6033|
+--------------+-------------+
only showing top 20 rows

In [30]:
# just return as column, we will not be able to show anything
dfs['total_rooms']

Column<'total_rooms'>

In [31]:
#check the data types of columns
dfs.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'int'),
 ('total_rooms', 'int'),
 ('total_bedrooms', 'int'),
 ('population', 'int'),
 ('households', 'int'),
 ('median_income', 'double'),
 ('median_house_value', 'int'),
 ('ocean_proximity', 'string')]

In [32]:
#describe function like pandas
dfs.describe

<bound method DataFrame.describe of DataFrame[longitude: double, latitude: double, housing_median_age: int, total_rooms: int, total_bedrooms: int, population: int, households: int, median_income: double, median_house_value: int, ocean_proximity: string]>

In [33]:
dfs.describe().show()

+-------+-------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+---------------+
|summary|          longitude|         latitude|housing_median_age|       total_rooms|    total_bedrooms|        population|       households|     median_income|median_house_value|ocean_proximity|
+-------+-------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+---------------+
|  count|              20640|            20640|             20640|             20640|             20433|             20640|            20640|             20640|             20640|          20640|
|   mean|-119.56970445736148| 35.6318614341087|28.639486434108527|2635.7630813953488| 537.8705525375618|1425.4767441860465|499.5396802325581|3.8706710029070246|206855.81690891474|           null|
| stddev|  2.003531723502584|2.135952397457101| 12.58555761211163|2181.6152515827944|421.38507007403115|  1132.46212176534|382.3297528316098| 1.899821717945263|115395.61587441359|           null|
|    min|            -124.35|            32.54|                 1|                 2|                 1|                 3|                1|            0.4999|             14999|      <1H OCEAN|
|    max|            -114.31|            41.95|                52|             39320|              6445|             35682|             6082|           15.0001|            500001|     NEAR OCEAN|
+-------+-------------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+---------------+

In [34]:
# Adding column in pyspark dataframe
dfs.withColumn('House value after 2 year',dfs['median_house_value']-10000)

DataFrame[longitude: double, latitude: double, housing_median_age: int, total_rooms: int, total_bedrooms: int, population: int, households: int, median_income: double, median_house_value: int, ocean_proximity: string, House value after 2 year: int]

In [35]:
# drop columns
# there is no inplace arguments, we have to assign to an new or same variable
dfs.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [36]:
dfs=dfs.drop('ocean_proximity','longitude','latitude')

In [37]:
dfs.columns

['housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [38]:
# Rename the column
dfs=dfs.withColumnRenamed('median_income','Income')

In [39]:
dfs.show()

+------------------+-----------+--------------+----------+----------+------+------------------+
|housing_median_age|total_rooms|total_bedrooms|population|households|Income|median_house_value|
+------------------+-----------+--------------+----------+----------+------+------------------+
|                41|        880|           129|       322|       126|8.3252|            452600|
|                21|       7099|          1106|      2401|      1138|8.3014|            358500|
|                52|       1467|           190|       496|       177|7.2574|            352100|
|                52|       1274|           235|       558|       219|5.6431|            341300|
|                52|       1627|           280|       565|       259|3.8462|            342200|
|                52|        919|           213|       413|       193|4.0368|            269700|
|                52|       2535|           489|      1094|       514|3.6591|            299200|
|                52|       3104|           687|      1157|       647|  3.12|            241400|
|                42|       2555|           665|      1206|       595|2.0804|            226700|
|                52|       3549|           707|      1551|       714|3.6912|            261100|
|                52|       2202|           434|       910|       402|3.2031|            281500|
|                52|       3503|           752|      1504|       734|3.2705|            241800|
|                52|       2491|           474|      1098|       468| 3.075|            213500|
|                52|        696|           191|       345|       174|2.6736|            191300|
|                52|       2643|           626|      1212|       620|1.9167|            159200|
|                50|       1120|           283|       697|       264| 2.125|            140000|
|                52|       1966|           347|       793|       331| 2.775|            152500|
|                52|       1228|           293|       648|       303|2.1202|            155500|
|                50|       2239|           455|       990|       419|1.9911|            158700|
|                52|       1503|           298|       690|       275|2.6033|            162900|
+------------------+-----------+--------------+----------+----------+------+------------------+
only showing top 20 rows

# Pyspark handling Missing Values

---



---

In [40]:
# Droping Null values
dfs

DataFrame[housing_median_age: int, total_rooms: int, total_bedrooms: int, population: int, households: int, Income: double, median_house_value: int]

In [41]:
dfs.show()

+------------------+-----------+--------------+----------+----------+------+------------------+
|housing_median_age|total_rooms|total_bedrooms|population|households|Income|median_house_value|
+------------------+-----------+--------------+----------+----------+------+------------------+
|                41|        880|           129|       322|       126|8.3252|            452600|
|                21|       7099|          1106|      2401|      1138|8.3014|            358500|
|                52|       1467|           190|       496|       177|7.2574|            352100|
|                52|       1274|           235|       558|       219|5.6431|            341300|
|                52|       1627|           280|       565|       259|3.8462|            342200|
|                52|        919|           213|       413|       193|4.0368|            269700|
|                52|       2535|           489|      1094|       514|3.6591|            299200|
|                52|       3104|           687|      1157|       647|  3.12|            241400|
|                42|       2555|           665|      1206|       595|2.0804|            226700|
|                52|       3549|           707|      1551|       714|3.6912|            261100|
|                52|       2202|           434|       910|       402|3.2031|            281500|
|                52|       3503|           752|      1504|       734|3.2705|            241800|
|                52|       2491|           474|      1098|       468| 3.075|            213500|
|                52|        696|           191|       345|       174|2.6736|            191300|
|                52|       2643|           626|      1212|       620|1.9167|            159200|
|                50|       1120|           283|       697|       264| 2.125|            140000|
|                52|       1966|           347|       793|       331| 2.775|            152500|
|                52|       1228|           293|       648|       303|2.1202|            155500|
|                50|       2239|           455|       990|       419|1.9911|            158700|
|                52|       1503|           298|       690|       275|2.6033|            162900|
+------------------+-----------+--------------+----------+----------+------+------------------+
only showing top 20 rows

In [42]:
df_spark=spark.read.csv('/content/drive/MyDrive/Pyspark/test2.csv',header=True,inferSchema=True)

In [43]:
df_spark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [44]:
# Dropping null values

In [45]:
#drop all null rows in an data set
df_spark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [46]:
#droping on particular column
# how
# 'any' delete any row even single null value is present
# 'all' delete the row with all the column have null values
df_spark.na.drop(how='any').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [47]:
# thresh
# atleast 2 non null value should be there else it delete the row
df_spark.na.drop(how='any',thresh=2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

In [48]:
# subset
# we can specify an specific column to remove null values
df_spark.na.drop(how='any',subset=['age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

In [49]:
# fill the missing values

In [50]:
df_spark.na.fill("Missing Values").show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|         Krish|  31|        10| 30000|
|     Sudhanshu|  30|         8| 25000|
|         Sunny|  29|         4| 20000|
|          Paul|  24|         3| 20000|
|        Harsha|  21|         1| 15000|
|       Shubham|  23|         2| 18000|
|        Mahesh|null|      null| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [51]:
df_spark.na.fill('miss').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     miss|  34|        10| 38000|
|     miss|  36|      null|  null|
+---------+----+----------+------+

In [52]:
df_spark.na.fill(0,subset='Experience').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|         0| 40000|
|     null|  34|        10| 38000|
|     null|  36|         0|  null|
+---------+----+----------+------+

In [53]:
# replacing the missing value with mean,median,mode

In [54]:
# Using Imputer function

In [55]:
from pyspark.ml.feature import Imputer

In [56]:
imputer=Imputer(
  inputCols=['age','Experience','Salary'],
  outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]

).setStrategy('mean') # change the setStrategy to mean,median,mode

In [57]:
# Add Imputed Col to df
imputer.fit(df_spark).transform(df_spark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

Filter Operations in Pyspark data frame

In [58]:
df_spark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [59]:
df_spark=df_spark.na.drop()

In [60]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [61]:
# filtering
df_spark.filter('Salary>20000').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

In [62]:
# select particulr columns
df_spark.filter('Salary>20000').select(['Name','Salary']).show()

+---------+------+
|     Name|Salary|
+---------+------+
|    Krish| 30000|
|Sudhanshu| 25000|
+---------+------+

In [63]:
# another way
df_spark.filter(df_spark['Salary']>20000).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

In [64]:
# Adding multiple condition
# use '&' ,'|','=='symbol
df_spark.filter((df_spark['Salary']>20000) & (df_spark['age']>30)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
+-----+---+----------+------+

In [65]:
# ~ not operations
df_spark.filter(~(df_spark['Salary']>20000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

Group by and Aggregare functions in pyspark

In [66]:
df_spark2=spark.read.csv('/content/drive/MyDrive/Pyspark/test3.csv',header=True,inferSchema=True)

In [67]:
df_spark2.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [68]:
df_spark2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [69]:
df_spark2.columns

['Name', 'Departments', 'salary']

In [70]:
# Group by
df_spark2.groupBy('Name')

In [71]:
df_spark2.groupBy('Name').sum()

DataFrame[Name: string, sum(salary): bigint]

In [72]:
df_spark2.groupBy('Name').sum().show()
# find the max salaried person

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [73]:
df_spark2.groupBy('Departments').sum().show()
# department wise salary

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [74]:
# mean salary
df_spark2.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [75]:
# count
df_spark2.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [76]:
# directly applying aggregate function to an data frame
df_spark.agg({'Salary':'max'}).show()

+-----------+
|max(Salary)|
+-----------+
|      30000|
+-----------+

In [77]:
df_spark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     128000|
+-----------+

In [78]:
df_spark.agg({'Salary':'avg'}).show()

+------------------+
|       avg(Salary)|
+------------------+
|21333.333333333332|
+------------------+

Pyspark in ML

In [79]:
machine=spark.read.csv('/content/drive/MyDrive/Pyspark/test1.csv',header=True,inferSchema=True)

In [80]:
machine.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [84]:
!pip install Mllib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Mllib
  Downloading mllib-1.0.0a2.tar.gz (12 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from Mllib) (57.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from Mllib) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->Mllib) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->Mllib) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->Mllib) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->Mllib) (3.0.4)
Building wheels for collected packages: Mllib
  Building wheel for Mllib (setup.py) ... done
  Created wheel for Mllib: filename=mllib-1.0.0a2-py3-none-any.whl size=11922 sha256=40ca46bd49a182d6ca83c5d3d6a1e635234d2043c30f75dec84386575583e639
  Stored in directory: /root/.cache/pip/wheels/84/42/18/84cb6ab1de94b93a2217787677f317b44777ece59f4edb40bf
Successfully built Mllib
Installing collected packages: Mllib
Successfully installed Mllib-1.0.0a2

In [87]:
machine.columns

['Name', 'age', 'Experience', 'Salary']

In [85]:
from pyspark.ml.feature import VectorAsasembler

In [94]:
featureassembeler=VectorAssembler(inputCols=['age', 'Experience'],outputCol='Independent Feature')

In [96]:
output=featureassembeler.transform(machine)

In [97]:
output.show()

+---------+---+----------+------+-------------------+
|     Name|age|Experience|Salary|Independent Feature|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|        [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|         [30.0,8.0]|
|    Sunny| 29|         4| 20000|         [29.0,4.0]|
|     Paul| 24|         3| 20000|         [24.0,3.0]|
|   Harsha| 21|         1| 15000|         [21.0,1.0]|
|  Shubham| 23|         2| 18000|         [23.0,2.0]|
+---------+---+----------+------+-------------------+

In [98]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Feature']

In [99]:
final_data=output.select(['Salary','Independent Feature'])

In [100]:
final_data.show()

+------+-------------------+
|Salary|Independent Feature|
+------+-------------------+
| 30000|        [31.0,10.0]|
| 25000|         [30.0,8.0]|
| 20000|         [29.0,4.0]|
| 20000|         [24.0,3.0]|
| 15000|         [21.0,1.0]|
| 18000|         [23.0,2.0]|
+------+-------------------+

In [103]:
from pyspark.ml.regression import LinearRegression

In [104]:
#train Test Split
train_data,test_data=final_data.randomSplit([0.75,0.25])

In [106]:
regressor=LinearRegression(featuresCol='Independent Feature',labelCol='Salary')

In [107]:
#fitting the train data
regressor=regressor.fit(train_data)

In [108]:
# Coefficient
regressor.coefficients

DenseVector([-2087.7193, 3561.4035])

In [109]:
# intercepts
regressor.intercept

59140.35087715952

In [110]:
# Prediction
pred_result=regressor.evaluate(test_data)

In [111]:
pred_result.predictions.show()

+------+-------------------+------------------+
|Salary|Independent Feature|        prediction|
+------+-------------------+------------------+
| 15000|         [21.0,1.0]| 18859.64912280543|
| 20000|         [29.0,4.0]|12842.105263164041|
+------+-------------------+------------------+

In [113]:
pred_result.meanAbsoluteError,pred_result.meanSquaredError

(5508.771929820694, 33066174.207398318)